In [96]:
import pandas as pd
url='https://raw.githubusercontent.com/liberrenaud/Dima_Renaud_Viz/master/Data/Video_Game_Sales.csv'
video_games_raw_tbl=pd.read_csv(url, sep=None, engine = 'python')

In [97]:
#check for rows with nulls
video_games_raw_tbl.isnull().sum()

Genre                  0
% NA Sales             0
Company                0
Console Format         0
Name                   0
Platform               0
Publisher             58
Year                 270
Genre Rank (AGG)       0
Global Sales           0
EU Sales (SUM)         0
JP Sales (SUM)         0
Other Sales (SUM)      0
dtype: int64

In [98]:
# delete rows with Null in Year
video_games_raw_tbl.dropna(subset=['Year'],inplace=True)
#check for rows with nulls
video_games_raw_tbl.isnull().sum()

Genre                 0
% NA Sales            0
Company               0
Console Format        0
Name                  0
Platform              0
Publisher            36
Year                  0
Genre Rank (AGG)      0
Global Sales          0
EU Sales (SUM)        0
JP Sales (SUM)        0
Other Sales (SUM)     0
dtype: int64

In [99]:
#change NaN value in Publisher to 'unknown' - KeyError: 'Publisher'
# video_games_raw_tbl['Publisher'] = df['Publisher'].fillna('unknown')

In [100]:
#check for duplicates
video_games_raw_tbl.duplicated().sum()

0

In [101]:
#check for type of data
video_games_raw_tbl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16327 entries, 0 to 16596
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Genre              16327 non-null  object
 1   % NA Sales         16327 non-null  object
 2   Company            16327 non-null  object
 3   Console Format     16327 non-null  object
 4   Name               16327 non-null  object
 5   Platform           16327 non-null  object
 6   Publisher          16291 non-null  object
 7   Year               16327 non-null  float64
 8   Genre Rank (AGG)   16327 non-null  int64
 9   Global Sales       16327 non-null  object
 10  EU Sales (SUM)     16327 non-null  object
 11  JP Sales (SUM)     16327 non-null  object
 12  Other Sales (SUM)  16327 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.7+ MB

In [102]:
#convert type of data - ValueError: invalid literal for int() with base 10: 'Year'
# pd.Series(['Year']).astype(int)