In [34]:
import pandas as pd
url='https://raw.githubusercontent.com/liberrenaud/Dima_Renaud_Viz/master/Data/Video_Game_Sales.csv'
video_games_raw_tbl=pd.read_csv(url, sep=None, engine = 'python',decimal=',')

In [35]:
#check for rows with nulls
video_games_raw_tbl.isnull().sum()

Genre                  0
% NA Sales             0
Company                0
Console Format         0
Name                   0
Platform               0
Publisher             58
Year                 270
Genre Rank (AGG)       0
Global Sales           0
EU Sales (SUM)         0
JP Sales (SUM)         0
Other Sales (SUM)      0
dtype: int64

In [36]:
# delete rows with Null in Year
video_games_raw_tbl.dropna(subset=['Year'],inplace=True)
#check for rows with nulls
video_games_raw_tbl.isnull().sum()

Genre                 0
% NA Sales            0
Company               0
Console Format        0
Name                  0
Platform              0
Publisher            36
Year                  0
Genre Rank (AGG)      0
Global Sales          0
EU Sales (SUM)        0
JP Sales (SUM)        0
Other Sales (SUM)     0
dtype: int64

In [37]:
#change NaN value in Publisher to 'unknown' - KeyError: 'Publisher'
# video_games_raw_tbl['Publisher'] = df['Publisher'].fillna('unknown')

In [38]:
#check for duplicates
video_games_raw_tbl.duplicated().sum()

0

In [39]:
#check for type of data
video_games_raw_tbl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16327 entries, 0 to 16596
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Genre              16327 non-null  object
 1   % NA Sales         16327 non-null  float64
 2   Company            16327 non-null  object
 3   Console Format     16327 non-null  object
 4   Name               16327 non-null  object
 5   Platform           16327 non-null  object
 6   Publisher          16291 non-null  object
 7   Year               16327 non-null  float64
 8   Genre Rank (AGG)   16327 non-null  int64
 9   Global Sales       16327 non-null  float64
 10  EU Sales (SUM)     16327 non-null  float64
 11  JP Sales (SUM)     16327 non-null  float64
 12  Other Sales (SUM)  16327 non-null  float64
dtypes: float64(6), int64(1), object(6)
memory usage: 1.7+ MB

In [41]:
#convert type of data - ValueError: invalid literal for int() with base 10: 'Year'
# pd.Series(['Year']).astype(int)
video_games_raw_tbl['Year'] = video_games_raw_tbl['Year'].astype(int)
video_games_raw_tbl.head()

,Genre,% NA Sales,Company,Console Format,Name,Platform,Publisher,Year,Genre Rank (AGG),Global Sales,EU Sales (SUM),JP Sales (SUM),Other Sales (SUM)
0,Misc,0.888889,Nintendo,Handheld,1 vs. 100,DS,DSI Games,2008,10818,0.09,0.00,0.00,0.01
1,Adventure,0.000000,Sony,Handheld,1/2 Summer +,PSP,Kaga Create,2013,15980,0.01,0.00,0.01,0.00
2,Racing,0.750000,Nintendo,Handheld,2 Games in 1 Double Pack: Hot Wheels Velocity ...,Game Boy Advance,THQ,2005,9659,0.12,0.03,0.00,0.00
3,Action,0.715909,Nintendo,Handheld,2 Games in 1 Double Pack: The Incredibles / Fi...,Game Boy Advance,THQ,2007,988,1.76,0.47,0.00,0.03
4,Misc,0.714286,Nintendo,Handheld,2 Games in 1: Disney Princess & The Lion King,Game Boy Advance,THQ,2004,1004,1.75,0.46,0.00,0.03